<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">



	<!-- Servlets -->
	<servlet>
		<servlet-name>cbsServlet</servlet-name>
		<servlet-class>uk.cbooksys.server.CBSServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cbsServlet</servlet-name>
		<url-pattern>/cbooksys/cbsService</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>fileUploaderServlet</servlet-name>
		<servlet-class>uk.cbooksys.server.FileUploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploaderServlet</servlet-name>
		<url-pattern>/cbooksys/fileupload</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>myindex.html</welcome-file>
	</welcome-file-list>



</web-app>
